**.so
**.o
**.pyc
**.exe
**.json
**.log
HFS/build/*
HFS/qsub/generatedscripts
HFS/log
HFS/doxygen/html
HFS/doxygen/doxygen.log
**.pickle
archive/logfiles
HFStability.cpp
cyarma.cpp
general_methods.pyc
heg_equations.aux
heg_equations.bbl
heg_equations.blg
heg_equations.end
heg_equations.fdb_latexmk
heg_equations.fls
heg_equations.log
heg_equations.pyg
heg_equations.synctex.gz
